.sidebar {
  height: 100vh;
  flex: 0.2;
  background-color: black;
  color: white;
  min-width: 230px;
  padding-left: 10px;
  padding-right: 10px;
}
.sidebar_logo {
  height: 70px;
  margin: auto;
}
